.linear-color {
  border-radius: 0px 0px 30px 0px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(208, 233, 209) 0%,
    rgb(230, 232, 231) 100%
  );
}

.search-icon {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  padding: 12px 10px 10px 12px;
}
